:root{
    --light-color: whitesmoke;
    --dark-color: #111;
    --light-gray-color: LightGray; 
    --dark-gray-color: DimGray; 
    --primary-color: rgb(69, 75, 80);
    --secondary-color: rgb(113, 121, 121);
    --shadow-color: gray;
    --tittle-font: "Nunito", sans-serif;
    --body-font: "Lexend", sans-serif;
    --width-section: 880px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80vw;
    padding: 16px;
    place-self: center;
    place-items: center;
    height: 100vh;
    gap: 16px;
    color: var(--dark-color);
}

section{
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--light-color);
}

/*TITTLES*/

h2{
    font-family: var(--tittle-font);
    color: var(--dark-color);
    text-transform: uppercase;
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 4px 0;
    padding: 4px 0;
}

h3{
    font-family: var(--tittle-font);
    color: var(--dark-color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

h4{
    font-family: var(--tittle-font);
    color: var(--dark-gray-color);
    font-size: .8rem;
    line-height: .8rem;
    font-weight: 600;
}

h5{
    font-family: var(--tittle-font);
    color: var(--dark-gray-color);
    font-weight: 400;
    font-size: 0.8rem;
}

p{
    font-family: var(--body-font);
    color: var(--dark-gray-color);
    font-size: .8rem;
    line-height: .8rem;
    font-weight: 400;
}


/*COLOR PALETTE*/

.color-palette-container{
    display: flex;
    flex-direction: column;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    width: 100%;
    height: 100%;
    background-color: var(--light-gray-color);
}

.color-palette-container__campos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: var(--dark-gray-color);
    font-family: var(--tittle-font);
    font-size: .8rem;
    place-items: center;
}

.color-palette-container__campos p{
    padding: 4px;
    text-align: center;
}

.color-palette-container label input[type=radio],
.family-font label input[type=radio]
{
    display: none;
}

.palette-container{
    width: 400px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
    padding: 4px;
    margin: 4px;
    background-color: var(--dark-color);
    cursor: pointer;
}

.palette-container div{
    width: 100%;
    height: 100%;
    background-color: var(--dark-gray-color)
}


/*FAMILY FONT*/

.family-font{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--light-gray-color);
}

.font-container{
    display: flex;
    flex-direction: row;
    gap: 12px;
    cursor: pointer;
    height: 20px;
    margin: 4px;
    padding: 4px;
    border-bottom: 1px solid var(--light-color);
}

.font-container:hover{
    background-color: var(--secondary-color);
}

.font-container:hover > div h4,
.font-container:hover > div p{
    color: var(--light-color)
}

.font-container div{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
}


/*EXAMPLE*/

.example-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 12px;
    padding-top: 48px;

    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    
}

.example-container__tittle{
    position: absolute;
    top: 8px;
    width: 93%;
    text-align: center;
}

.example-container__form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
}


/*form label-input*/

.form__information1 label,
.form__information2 label{
    display: inline-block;
    line-height: 20px;
    width: 132px;
    padding: 4px 8px;
    font-family: var(--tittle-font);
    font-size: .9rem;
    color: var(--light-color);
    background-color: var(--secondary-color);
}

.form__information1 input,
.form__information2 input{
    display: inline-block;
    width: 188px;
    padding: 4px;
    line-height: 20px;
    font-family: var(--body-font);
    font-size: .9rem;
    background-color: var(--light-color);
    color: var(--dark-gray-color);
    border: 1px solid var(--light-gray-color)
}


/*form selections*/

.form__selections{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.form__selections div{
    width: 100%;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray-color);
}

.form__selections div h5{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 4px auto 12px;
    color: var(--dark-gray-color);
    border-bottom: 1px solid var(--secondary-color);
}


/* Customize radio */
.selections-simple__container {
    display: block;
    position: relative;
    padding-left: 36px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: .7rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: var(--body-font);
}
  
.selections-simple__container input {
    display: none;
    position: absolute;
    cursor: pointer;
}
  
.selections-simple__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--light-color);
    border-radius: 50%;
}
  
.selections-simple__container:hover input ~ .selections-simple__checkmark {
    filter: brightness(.9);
}
  
.selections-simple__container input:checked ~ .selections-simple__checkmark {
    background-color: var(--primary-color);
}
  
.selections-simple__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

  .selections-simple__container input:checked ~ .selections-simple__checkmark:after {
    display: block;
 }
  
.selections-simple__container .selections-simple__checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/* Customize checkbox */
.selections-multiple__container {
    display: block;
    position: relative;
    padding-left: 36px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: .7rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: var(--body-font);
}
  
.selections-multiple__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.selections-multiple__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--light-color);
}
  
.selections-multiple__container:hover input ~ .selections-multiple__checkmark {
    filter: brightness(.9);
}
  
.selections-multiple__container input:checked ~ .selections-multiple__checkmark {
    background-color: var(--primary-color);
}
  
.selections-multiple__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.selections-multiple__container input:checked ~ .selections-multiple__checkmark:after {
    display: block;
}
  
.selections-multiple__container .selections-multiple__checkmark:after{
    left: 7px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid var(--light-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*form buttons*/
.form__buttons{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    width: 100%;
}

.form__buttons input{
    width: 120px;
    height: 36px;
    font-family: var(--body-font);
    color: var(--light-color);
    border: none;
    cursor: pointer;
    font-weight: 400;
}

.form__buttons input:hover,
.card-container span:hover{
    filter: brightness(1.1);
    box-shadow: 2px 2px 4px var(--shadow-color);
}

.form__buttons input[type="button"]{
    background-color: var(--secondary-color);
}

.form__buttons input[type="submit"]{
    background-color: var(--primary-color);
}
  
/*ARTICLE*/
.article__title-container h3{
    color: var(--dark-color)
}

.paragraph{
    color: var(--dark-gray-color)
}

.paragraph h4{
    margin-top: 8px;    
}

.paragraph p{
    margin-top: 4px;
    text-align: justify;
}

/*CARDS*/
.example-container__cards{
    display: flex;
    flex-direction: row;
    gap: 24px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 6px;;
    background-color: var(--light-color);
    padding: 24px;
}

.card__img{
    position: relative;
    width: 120px;
    aspect-ratio: 1;
}

.card__img img{
    width: 100%;
    height: 100%;
}

.bg-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    mix-blend-mode:hue;
}

.card-container h3{
    margin-top: 12px;
    color: var(--dark-color)
}

.card-container p{
    text-align: center;
    margin-top: 8px;
}

.card-container span{
    position: absolute;
    bottom: 16px;
    display: grid;
    place-items: center;
    width: 120px;
    height: 36px;
    margin-top: 12px;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: var(--body-font);
    font-weight: 400;
    cursor: pointer;
}
